body{
position: absolute;
}

p {
font-family: Arial, Helvetica, sans-serif;
color: white;
}

h2 {
font-family: Arial, Helvetica, sans-serif;
color: white;
}

img {
position: absolute;

}

#background{
    position: absolute;
z-index: 1;
 width: 350px;
 height: auto;
 display: block;
}

.topRow{
    position: absolute;
    z-index: 2;
margin-left: auto;
  margin-right: auto;
}

.middleRow{
    position: absolute;
z-index: 3;
top: 100px;
  margin-left: auto;
  margin-right: auto;
}

.bottomRow{
    position: absolute;
    z-index: 2;
  margin-left: auto;
  margin-right: auto;
  top: 500px;
}

#dropDownArrow{
top: 0px;

}

#dots{
top: 0px;
}

#heartFill{
    top: 0px;
}
#heartNoFill{
    top: 0px;
}

#evanAlbumCover{
padding-left: 50px;
    width: 250px;
    height: auto;
    
}

#musicName{
    top: 0px;
}

#artistName{
    top: 1000px;
}

#firstTimestamp{
    top: 0px;
}

#secondTimestamp{
    top: 0px;
}

#circle {
    top: 100px;
  height: 20px;
  width: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
}

#line{
    top: 100px;
      height: 10px;
  width: 200px;
   background-color: rgb(255, 255, 255);
}


#forward{
    top: 0px;
}
#loop{
    top: 0px;
}

#play{
    top: 0px;
}

#pause{
    top: 0px;
}

#rewind{
    top: 0px;
}

#shuffle{
top: 0px;
}


