body{
position: absolute;
}

p {
font-family: Arial, Helvetica, sans-serif;
color: white;
}

h2 {
font-family: Arial, Helvetica, sans-serif;
color: white;
}

img {
position: absolute;

}

#background{
    position: absolute;
z-index: 1;
 width: 350px;
 height: auto;
 display: block;
}

#mockupImage{
    position: absolute;
z-index: 5;
 width: 350px;
 height: auto;
 display: block;
 margin-left: 400px;
}

.topRow{
    position: absolute;
    z-index: 2;
margin-left: auto;
  margin-right: auto;
}

.middleRow{
    position: absolute;
z-index: 3;
top: 105px;
  margin-left: auto;
  margin-right: auto;
}

.bottomRow{
    position: absolute;
    z-index: 4;
  margin-left: auto;
  margin-right: auto;
  margin-top: 600px;
}

#dropDownArrow{
margin-top: 32.5px;
margin-left: 20px;
height: auto;
width: 20px;
}

#dots{
margin-top: 37.5px;
margin-left: 300px;
height: auto;
width: 15px;

}

#queue{
    font-size: 15px;
    margin-top: 30px;
margin-left: 150px;

}
#heartFill{
margin-top: -90px;
margin-left: 290px;
   width: 20px;
    height: auto;

}
#heartNoFill{
margin-top: -100px;
margin-left: 290px;
   width: 25px;
    height: auto;

}

#evanAlbumCover{
margin-left: 20px;
    width: 310px;
    height: auto;
}

#musicName{
margin-top: 350px;
margin-bottom: 0px;
margin-left: 30px;
font-size: 30px;
}

#artistName{
margin-top: 0px;
margin-bottom: 0px;
margin-left: 30px;
color: rgb(196,180,198);
font-size: 20px;
}

#firstTimestamp{
margin-top: 10px;
margin-left: 20px;
margin-bottom: 0px;
color: rgb(196,180,198);
font-size: 15px;
}

#secondTimestamp{
margin-top: -19px;
margin-left: 290px;
color: rgb(196,180,198);
font-size: 15px;
}

#circle {
  height: 15px;
  width: 15px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  margin-bottom: -39px;
  margin-left: 135px;
}

#topline{
margin-left: 20px;
      height: 5px;
  width: 125px;
   background-color: rgb(255, 255, 255);
     z-index: 3;
     display: inline-block;
     margin-bottom: -19px;
}


#bottomline{
    z-index: -1;
margin-left: 20px;
      height: 5px;
      margin-top: 10px;
  width: 310px;
   background-color: rgb(132,95,145);
}


#shuffle{
margin-top: 10px;
margin-left: 30px;
width: 40px;
height: auto;
}
#rewind{
margin-top: 10px;
margin-left: 100px;
width: 30px;
height: auto;
}

#play{
margin-top: 0px;
margin-left: 150px;
width: 50px;
height: auto;
}

#pause{
margin-top: 10px;
margin-left: 10px;
width: 30px;
height: auto;
}


#forward{
margin-top: 10px;
margin-left: 220px;
width: 30px;
height: auto;
}
#loop{
margin-top: 10px;
margin-left: 290px;
width: 30px;
height: auto;
}

